{% extends '/Blog/layout.twig' %}
{% block title "les lieux visités" %}
{% block classBody "pageBlog pageBase " %}


{% block body %}

<section class="container-fluid SectionEntete SectionBlog1">
<h1> les lieux visités par le héro  </h1>
</section>

<section class="container SectionBlog2 SectionMain">

  <div class="row">
    {% for row in posts | batch(3) %}
      <div class="card-deck">
        {% for post in row %}
        <div class="card">
          <div class="card-header blogCarteHeader {% if urlImg(post.id) != "default.jpg" %} blogCarteImage {% endif %}" {% if urlImg(post.id) != "default.jpg" %} style="background-image : url({{ imageType(urlImg(post.id),'Miniature') }})"{% endif %}>
            <h2><a href="{{ path('blog.posts.show', { slug: post.slug, id: post.id }) }}">
              {{ post.title }}
            </a></h2>
          </div>
          <div class="card-body">
            <p class="text-muted">{{ post.nameLocality}}</p>
            <p class="text-muted">{{ post.dateTime | ago }}</p>
            <p class="card-text">
              {{ post.main | excerpt | nl2br }}
            </p>
          </div>
          <div class="card-footer">
            <a href="{{ path('blog.posts.show', { slug: post.slug, id: post.id }) }}" class="btn btn-primary">
              Voir l'article
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  {{ paginate(posts,'blog.posts.index') }}

</section>


{% endblock %}
