

<div class="container">
<div class="{% if idCom is null %}toggedisplay tog{{idComSave}} {% endif %}" >
    {{ create_com( idPost,slugPost,idComSave) }}
</div>
{% if comments is same as(0) %}

  {% if idComSave is null %}
  <div class="commentraw">
  <div class="alert alert-light">
      <p class ="comment" >
        Personne n'a commenté cette article.</br>
        Si vous êtes connecté vous pouvezcommenté cette article a tous momment.
      </p>
      
    </div>
  </div>
  {% endif %}
{% endif %}
  {% for comment in comments %}

  <div class="commentraw">
  <div class="alert alert-light">
    <div style ="overflow:hidden" class="alert alert-secondary">
      <p style ="float:left" class="text-muted">{{ comment.createdate | agos }}</p>
      <div style ="float:right ; overflow:hidden">
        {% if idUser %}
        {{ count_sign(comment.id)}}

          {% if user_sign(comment.id, idUser) %}
            <form style ="float:left" action="{{ path('blog.com.signale') }}" method="post" enctype="multipart/form-data">
              {{ csrf_input() }}
              <input class="d-none" type="hidden " name="user_id" value="{{ idUser }}">
              <input class="d-none" type="hidden " name="comment_id" value="{{ comment.id }}">
              <input class="d-none" type="hidden " name="post_id" value="{{ idPost }}">
              <input class="d-none" type="hidden " name="slugPost" value="{{ slugPost }}">
            <button class="btn btn-danger btn-sm" type="submit"> Signaler</button>
            </form>
          {% endif %}
        {% endif %}

      </div>


    </div>
    <div>
      <p class ="comment" >
        {{ comment.text | raw | nl2br }}
      </p>
    </div>
  </div>
  {% if idUser %}
  {% if comment.commentId is null %}

    <button class="btnTog btn btn-secondary" data-id="{{ comment.id }}" type="submit"> Répondre</button>

  {% endif %}
  {% endif %}
  </div>
  {% if comment.commentId is null %}

    {{ affiche_com(comment.postId,slugPost,comment.id) }}

  {% endif %}

  {% endfor %}


</div>
