{% extends '/Admin/layout.twig' %}
{% block title " Page de présentation" %}


{% block body %}
<section class="container">

  <div class="AdminImgeSelect">
    <h2> Editer l'image de fond </h2>
    <img src="{{ imageType(image1.url,'Miniature') }}" alt="{{ image1.alt }}" >
    <form class="" action="{{path( 'blog.img.admin.image') }}" method="post" enctype="multipart/form-data">
      {{ csrf_input() }}
      <input class="d-none itemSave" type="hidden " name="itemSave" value="">
      <input class="d-none" type="hidden " name="PositionImg" value="1">
      <button class="btn btn-dark" type="submit"> Editer</button>
    </form>
  </div>


  <form class="" action="" method="post" enctype="multipart/form-data">
    {{ field('title', item.title, "Titre de l'index", {class:'indexFirstForm1'}) }}
    {{ field('subtitle', item.subtitle, "Sous-titre de l'index", {class:'indexFirstForm2'}) }}
  </form>
  <div class="AdminImgeSelect">
    <h2> Editer l'image de profils </h2>
    <img src="{{ imageType(image2.url,'Miniature') }}" alt="{{ image2.alt }}" >
    <form class="" action="{{path( 'blog.img.admin.image') }}" method="post" enctype="multipart/form-data">
      {{ csrf_input() }}
      <input class="d-none itemSave" type="hidden " name="itemSave" value="">
      <input class="d-none" type="hidden " name="PositionImg" value="2">
      <button class="btn btn-dark" type="submit"> Editer</button>
    </form>
  </div>
  <form class="" action="{{path('blog.index.admin.edit')}}" method="post" enctype="multipart/form-data">
    {{ csrf_input() }}
    <input class="d-none champFormIndex" type="hidden " name="img_fond" value="{{ item.imgFond }}">
    <input class="d-none champFormIndex resultFirstForm1" type="hidden " name="title" value="">
    <input class="d-none champFormIndex resultFirstForm2" type="hidden " name="subtitle" value="">
    <input class="d-none champFormIndex" type="hidden " name="img_profil" value="{{ item.imgProfil }}">
    {{ field('presentation', item.presentation, "Présentation de l'auteur", {type:'textarea', class:'champFormIndex'})}}
    {{ field('main', item.main, "Présentation du projet", {type:'textarea', class:'champFormIndex'})}}

    <button class="btn btn-primary" type="submit"> Editer</button>
  </form>
</section>

{% endblock %}
