{% extends '/Blog/layout.twig' %}
{% block title "Création du compte utilisateur" %}


{% block body %}

<h1> Créer son compte utilisateur</h1>
<form class="" action="{{path( routePrefix ~ '.create') }}" method="post" enctype="multipart/form-data">
  {{ csrf_input() }}
  {{ field('login', null, 'Nom d\'utilisateur') }}
  {{ field('password', null, 'Mot de passe') }}
  {{ field('verifpassword', null, 'Retaper le Mot de passe') }}
  {{ field('email', null, 'Adresse email') }}
<button class="btn btn-primary" type="submit"> S'inscrire au blog </button>
</form>

{% endblock %}
