
<li class="nav-item {{ is_firstpath('admin') ? 'active'}}">
  <a class="nav-link" href="{{ path('admin') }}">Dashboard </a>
</li>
<li class="nav-item {{ is_subpath('blog.admin.index') ? 'active'}} ">
  <a class="nav-link"  href = "{{ path ('blog.admin.index')}}"> Articles </a>
</li>
<li class="nav-item {{ is_subpath('blog.category.admin.index') ? 'active'}}">
  <a class="nav-link"  href = "{{ path ('blog.category.admin.index')}}"> Categories </a>
</li>
<li class="nav-item {{ is_subpath('blog.com.admin.index') ? 'active'}}">
  <a class="nav-link"  href = "{{ path ('blog.com.admin.index')}}"> Commentaires </a>
</li>
<li class="nav-item {{ is_subpath('blog.img.admin.index') ? 'active'}}">
  <a class="nav-link"  href = "{{ path ('blog.img.admin.index')}}"> Images </a>
</li>
