{% extends '/Admin/layout.twig' %}
{% block title "billet pour alaska : Administration" %}


{% block body %}

<p class="text-rigth">
  <a href="{{path( routePrefix ~ '.create') }}" class="btn btn-primary">
    Ajouter une image
  </a>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <td>Mignature</td>
      <td>Titre</td>
      <td>url</td>
    </tr>
    <tbody>

      {% set token_input = csrf_input() %}
      {% for item in items %}
      <tr>
        <td><img src="{{ imageType(item.url,"Vignette") }}" alt="{{ item.alt | striptags }}" width="50px"></td>
        <td>{{ item.title }}</td>
        <td>{{ item.url }}</td>
        <td>
           <a href="{{path(routePrefix ~ '.edit', {id: item.id}) }}" class="btn btn-primary">Editer</a>
           <form style ="display:inline" action="{{path( routePrefix ~ '.delete', {id: item.id}) }}" method="POST" onsubmit="return confirm('êtes vous sûr ?')">
             <input type="hidden" name="_method" value="DELETE">
             <button class="btn btn-danger"> Supprimer</button>
             {{ token_input | raw }}
           </form>
           {% if post.itemSave %}
             <form style ="display:inline" action="{% if post.idPost  %}{{path('blog.admin.image') }}{% else %}{{path('blog.admin.imagCreate') }}{% endif %}" method="POST" >
               <input class="d-none" type="hidden " name="itemSave" value="{{ post.itemSave }}">
               {% if post.idPost  %}
               <input class="d-none" type="hidden " name="idPost" value="{{ post.idPost }}">
                {% endif %}
               <input class="d-none" type="hidden " name="idImg" value="{{ item.id }}">
               <button class="btn btn-dark"> choisir cette image</button>
               {{ token_input | raw }}
             </form>
           {% endif %}

        </td>
      </tr>
      {% endfor %}
    </tbody>
  </thead>
</table>

{{ paginate(items, routePrefix ~ '.index') }}

{% endblock %}
