
<li class="nav-item {{ is_firstpath('blog.index') ? 'active'}}">
  <a class="nav-link" href="{{ path('blog.index') }}">Bienvenue </a>
</li>
<li class="nav-item {{ is_subpath('blog.category') ? 'active'}}">
  <a class="nav-link" href="{{ path('blog.category') }}">La carte du voyage </a>
</li>
<li class="nav-item {{ is_subpath('blog.posts.index') ? 'active'}}">
  <a class="nav-link" href="{{ path('blog.posts.index') }}">Liste des étapes</a>
</li>
