<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Un exercice de style fait dans le cadre du Projet 3 D'une formation chaf de projet multimédia à Openclasseroom. Création d'un blog pour un écrivian".>
    <meta name="author" content="Emeric Lebbrecht">
    <Meta name="keywords" content="Projet 3,Openclasseroom,Billet simple pour l'Alaska,Jean Forteroche">


    <title>{% block title "billet pour alaska" %}</title>

    <link rel="icon" type="image/x-icon" href="{{ host_serveur() }}/images/favicon.ico" /><link rel="shortcut icon" type="image/x-icon" href="{{ host_serveur() }}/images/favicon.ico" />

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.0/flatpickr.css">
    <link rel="stylesheet" href="{{ host_serveur() }}/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ host_serveur() }}/css/design.css">

  <body class ="{% block classBody "pageBody" %}">

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav navbar-navAdmin  ">
            <div  class="nav-item BarBoutonAdminBlog">
              <a class="nav-link btn btn-light" href="{{ path('blog.index') }}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
            </div>
            <ul class="navbar-nav ">
              {{ admin_menu() }}
            </ul>
            <form class="nav-item btnAdminDeco" method="post" action="{{ path('auth.logout') }}">
              {{ csrf_input() }}
              <button class=" btn btn-primary">Se déconnecter</button></a>
            </form>
          </div>
        </div>
      </nav>
    </header>



    <main >
      {% if flash('success') or flash('error') %}
      <section class="container containerFlash">
        {% if flash('success') %}
          <div class="alert alert-success">
            {{ flash('success') }}

          </div>
        {% endif %}
        {% if flash('error') %}
          <div class="alert alert-danger">
            {{ flash('error') }}

          </div>
        {% endif %}
      </section>
    {% endif %}
        {% block body %}{% endblock %}

      </main>

    <footer>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.0/flatpickr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.0/l10n/fr.js"></script>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdIZch2QSX6AnzXdu5KAIw1sBD8GMM8kg&callback=initMap">
   </script>
    <script src="{{ host_serveur() }}/js/script.js"></script>
    <script src="{{ host_serveur() }}/js/GmapAdmin.js"></script>


  </body>
</html>
